a {font-size: 13px;
	color: red;
	font-family: comic;}

h3 {color: red}

h1 {color: #c0262c;
border-style:solid;
border-color:1.75em;
border-bottom-color:green;
border-top-color:red;border-left-color:yellow;
border-right-color:blue;
border-width:5px 10px 15px 20px;
border-top-color:red;
border-left-color:yellow;
border-right-color:blue;}

p 	{font-size:1.75em;
    line-height:1.25em;
	text-align:justify;}
			
body {background-color: gray;
	background-image: url("imagens/j.jpg");background-repeat:repeat-y}
		
			
			hr {border-color:blue;
				border-style:dotted;}
				
				#p1 {text-indent:10px;}
				
				