/*Todas páginas*/

body{
	font-family: Helvetica, Arial, sans-serif;
}

header h1 {width: 240px;
			float: left;
			background-image: url(C:\Users\edson.clsouza\Desktop\HTML\Projeto_petshop
				\Imagens\meu-amigo-cao-petshop-header.png);
			background-repeat: no-repeat;
			background-position: center center;
			height: 200px;
			text-indent: -1000px;
			margin-bottom: 0px;}



/* Página curiosidades */
#curiosidades dt {
	font-weight:bold;
}

#curiosidades ul li {
	list-style-type:none;
	list-style-image:url(imagens/ossinho.png);
	list-style-position:inside;
	margin:30px 0;
}

#curiosidades dt {
	color:#FFF;
	background-color:#c0262c;
	padding:7px;
}

#curiosidades dd {
	border: thin #c0262c solid;
	border-radius: 0 0 25px 25px;
	margin-top: -3px;
	margin-top: -3px;
	margin-bottom: 30px;
	padding: 20px 20px 0;
}

#curiosidades ol {
	list-style-type: none;
	white-space: pre;
	line-height: .5em;
	/*definir variavel de contagem*/
	counter-reset: contador;
}

#curiosidades ol li:before {
	color:#999999;
	/*incrimentar a viariavel em 1*/
	counter-increment: contador;
	/*usar o numero do contador como conteudo*/
	content: "Questão " counter(contador) " \00bb  ";
}

#curiosidades ul li a {
	text-decoration: none;
	color: #c0262c;
	font-weight:bold;
	padding:7px;
}

#curiosidades  ul li a:hover{
	text-decoration:underline;
}



#curiosidades h2 {
	background-color:#C0262C;
	background-image: url(imagens/importante-saber.jpg) , url(imagens/back-bolinha.gif) ;	
	background-repeat: no-repeat,repeat;
	background-position: center right, center center;
	font-size:2.5em;
	letter-spacing:.1em;
	color:#FFFFFF;
	width:470px;
	padding:61px 400px 61px 100px;
	}

	
	
	
	
	
#curiosidades figcaption {
	background-color:#C0262C;
	padding:7px 0;
	color:#FFFFFF;
	font-size:1.5em;
	}

#curiosidades figure {
	border: #C0262C solid thin;
	border-radius:35px 35px 0 0;
	padding:10px 0 0;
	text-align: center;
}

/*Página quem somos.*/

#quem-somos h2 {
	color:#c0262c;	
	font-size: 1.75em; /**/
}

#quem-somos h1 {
	color:#c0262c;
	font-size:2.5em;
}

#quem-somos p {
	font-size:1.1em;
	line-height:1.3em;
	text-align: justify;
}

#quem-somos p:first-line {
	font-size:.1.17em;
	font-variant:small-caps;
	font-weight:bolder;
	font-style:italic;
}

#quem-somos hr {
	border-color:#c0262c;
}

#quem-somos body {
	font-family: Helvetica, Arial, sans-serif;
}
/*Página boletim*/

/*Página curiosidades*/

/*Página Produtos*/

/*Página banho e tosa*/